<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="Servers"
                 type="System.Configuration.NameValueFileSectionHandler, 
                    System, Version=1.0.3300.0, Culture=neutral, 
                    PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <Servers>
    <add value="Server 1/IP" key="Server 1 - IP" />
    <add value="Server 2/IP" key="Server 2 - IP" />
    <add value="Server 3/IP" key="Server 3 - IP" />
    <add value="Server 4/IP" key="Server 4 - IP" />
  </Servers>
  <appSettings>
    <add key="username" value="AdminUser"/>
    <add key="password" value="AdminPassword"/>
    <add key="fromId" value="appPool@example.com" />
    <add key="toId" value="toaddress@example.com" />
    <add key="ccId" value="ccaddress@example.com" />
    <add key="Subject" value="App Pool Recycled" />
    <add key="SMTPServer" value="SMTPServer" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
